.mypage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 70%;
  text-align: center;
  height: 50%;
}

.userprop {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userkey {
  display: inline-block;
  width: 25%;
  font-size: 20px;
}

.uservalue {
  display: inline-block;
  width: 25%;
  font-size: 20px;
}
